// -----------------------------------
// MAIN
// -----------------------------------

// ----------------------- MAIN STYLES
.menu{
	background: #000b15;
	color: #fff;
	display: block;
	float: left;
	padding: 0 7px;
	border-left: 1px solid #626a72;
	border-right: 1px solid #16212c;
	 ol{
	 	display: inline-block;
    }
    li {
        position: relative;
        padding: 10px 5px 5px 25px;
        text-decoration: none;    
        
    }
}
.corps {
	display: inline-block;
}

.actualites {
    ol{
    	display: inline-block;
    }
    li {
        position: relative;
        padding: 10px 5px 5px 25px;
        text-decoration: none;    
        
    }
}
